@import "./variables.module.scss";

.navLinkWrapper:first-child .navLink,
.navLinkWrapper:nth-child(6) .navLink {
  &:hover {
    svg,
    path {
      fill: none;
      stroke: $accent-color;
    }
  }
}

.navLink {
  height: 60px;
  padding-left: 50px;
  display: flex;
  transition: $base-transition;

  &:hover {
    background: $button-bg-hover;
    border-right: 4px solid $accent-color;
    transition: $base-transition;

    > div {
      transition: $base-transition;
      color: $accent-color;

      svg,
      path {
        fill: $accent-color;
        transition: $base-transition;
      }
    }
  }

  > div {
    transition: $base-transition;
    color: white;

    svg,
    path {
      transition: $base-transition;
    }
  }
}

.buttonMinimize {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 220px;
  height: 36px;
  width: 36px;
  background-color: $dark-gray-color;
  border-radius: 8px;
  transition: $base-transition;
  z-index: 999;

  img {
    margin: 0 auto;
  }
}

.buttonIsMinized {
  left: 100px;
  transform: scaleX(-1) translateY(-20px);
  transition: $base-transition;
  transform-origin: 20px 0;
}
