//Colors
$primary-color: #1c1c1e;
$accent-color: #ff630b;
$primary-light-color: #282828;
$light-gray-color: #F3F2F0;
$gray-color: #8D8D8E;
$dark-gray-color: #323234;
$light-orange-color: #FFE0CE;
$dark-orange-color: #E6590A;

//Transition
$base-transition: 0.2s linear all;



:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  buttonBgHover: $primary-light-color;
  baseTransition: $base-transition;
  grayColor: $gray-color;
  lightGrayColor: $light-gray-color;
  darkGrayColor: $dark-gray-color;
  lightOrangeColor: $light-orange-color;
  darkOrangeColor: $dark-orange-color;
}
